<article title="Certifications" id="certifications">
  <h2 i18n class="text-xl mt-4 font-bold">Certification</h2>
  <div *ngFor="let certificate of certifacteData" class="mt-8 print:m-0">
    <h3 i18n class="text-lg mt-4 italic">
      <a
        *ngIf="certificate.url; else noLink"
        href="{{ certificate.url }}"
        class="underline mr-1 print:hidden"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ certificate.name }}
      </a>
      <ng-template #noLink>
        {{ certificate.name }}
      </ng-template>
    </h3>
    <p class="italic text-gray-600 dark:text-gray-300 text-sm">
      {{ certificate.by }} - {{ certificate.date }}
    </p>
    <ul class="print:m-0 list-none md:flow-root hidden">
      <li
        *ngFor="let skill of certificate.skills"
        class="bg-gray-500 mt-2 px-2 mr-2 rounded-full print:hidden float-left text-center flex items-center justify-center text-nowrap"
      >
        {{ skill }}
      </li>
    </ul>

    <p *ngIf="certificate.description" class="mt-2">
      {{ certificate.description }}
    </p>
  </div>
</article>
