---
const timeline = [
  {
    title: "Fullstack Software Engineer at AISUS",
    date: "January 2024 - Present",
    description: [
      "Leading the data team in development of the AISUS Gemini Platform, adding new features, increasing performance and integrating cuttinge edge Artifical Intelligence (AI).",
      "Leading the integration efforts of in-house Machine Learning (ML) and Computer Vision (CV) technologies into daily operations. Increasing the speed of report generation by 40% and reducing manual labour by 20%.",
      "Collaborating with cross-functional teams to ideate and implement solutions, resulting in streamlined processes and increased productivity across the organisation. Leading to a 20% increase in project on-time delivery.",
      "Liaising with Robert Gordon University Computer Science and Robotics Schools for a Knowledge Transfer Partnership and Student Placement",
      "Creating and maintaining RESTful APIs using .NET Core, and developing new features using React, Next.JS, and Razor Pages.",
      "Designing the future technological architecture, programme and project roadmaps, identifying opportunities for growth, enhancing platform security whilst ensuring best practices are adhered to.",
      "Team and Line manager, mentoring junior engineers, tracking performance, supporting growth in line with company requirements"
    ],
  },
  {
    title: "Independent Contract Software Engineer",
    date: "September 2023 - January 2024",
    description: [
      "Led the software team at a Project Management Software Company to launch their initial platform offering to the market",
      "Developed Proof-of-Concept for Taxi Company Software including API Schemas, Front-End Mockups, and Database Design"
    ]
  },
  {
    title: "Software Developer at AEON Geoscience Systems",
    date: "September 2022 - August 2023",
    description: [
      "Extensively worked with React (JavaScript) and Ruby on Rails to upgrade and extend the existing PROEX web application, including the development of new components and improving application performance.",
      "Utilized the D3.js package to create multiple graphs, well log tracks, and data dashboards, enabling the visualization and comparison of complex datasets for a £70k+ client project prior to redundancy.",
      "Revamped the visual design of the application using Figma as a rapid prototyping tool, adhering to company design templates.",
      "Implemented a new self-sign-up process, including email confirmation via SendGrid.",
      "Established comprehensive build, linting, and testing pipelines, and implemented Docker containerization for the application.",
    ],
  },
  {
    title: "IT & Business Support at DK AVS",
    date: "June 2018 - September 2022",
    description: [
      "Enhanced company web systems with React, HTML, CSS, JavaScript, and Redux, resulting in improved user interfaces and increased website speed.",
      "Optimized the job-request process, automating the recording, verification, and pre-arrangement of 1,200+ TV repair requests, leading to a 25% increase in customer communication efficiency and a reduction in manual labor.",
      "Oversaw the comprehensive overhaul and implementation of the company's Enterprise Resource Planning system, including crafting detailed written proposals for key clients, providing on-call support during the transition period, and establishing new procedures and processes, ensuring successful project completion.",
      "Provided external clients with consulting services for the setup of new ERP & CRM systems in Superbase NG, facilitating seamless migration from Superbase Classic.",
      "Spearheaded an online marketing campaign that resulted in 4,000 new users on the DK AVS website, driving a 20% increase in first-time customer service requests.",
    ],
  },
];
---

{
  timeline.map((job) => (
    <article class="mt-2">
      <div class="flex justify-between flex-col-reverse md:flex-row">
        <h3 class="text-lg">{job.title}</h3>
        <p class="italic text-gray-600 dark:text-gray-300 mr-8">{job.date}</p>
      </div>
      <ul class="list-disc ml-4">
        {job.description.map((desc) => (
          <li>{desc}</li>
        ))}
      </ul>
    </article>
  ))
}
