---
import Layout from "../../layouts/Layout.astro";
import Biography from "../../components/de/Biography.astro";
import Timeline from "../../components/de/Timeline.astro";
import Projects from "../../components/de/Projects.astro";
import Certificates from "../../components/de/Certificates.astro";
---

<Layout>
  <div class="flex justify-between flex-col lg:flex-row">
    <div class="lg:w-1/2 px-6 py-4 print:p-0">
      <Biography />
    </div>
    <div class="lg:w-1/2 px-6 py-4 print:p-0">
      <h2 class="text-xl font-bold print:mt-4">Timeline</h2>
      <Timeline />
    </div>
  </div>
  <hr class="print:hidden mx-2 my-6" />
  <div class="flex justify-between flex-col lg:flex-row">
    <div class="lg:w-1/2 px-6 py-4 print:p-0">
      <Projects />
    </div>
    <div class="lg:w-1/2 px-6 py-4 print:p-0">
      <Certificates />
    </div>
  </div>
</Layout>
