---
import ThemeIcon from "../ThemeIcon.astro";
---

<ul class="flex items-center">
  <li class="m-2">
    <a href="https://www.nikmaxott.org/contact/" target="_blank">Kontakt</a>
  </li>
  <li class="m-2">
    <ThemeIcon />
  </li>

  <li class="m-2">
    <button onclick="print();" aria-label="Drueck meinen CV"
      ><i class="ri-printer-line"></i></button
    >
  </li>
</ul>
